body {
    background-color: #d2d6de;
}

.input-group[class*=col-] {
    padding-left: 15px;
    padding-right: 15px;
}

.panel dl:not(:last-child) {
    border-bottom: 1px dotted lightgray;
    padding-bottom: 20px;
}

.multi-line-table {
    table-layout: fixed;
    word-wrap: break-word;
}

.react-datepicker {
    font-size: 1.3rem !important;
}

.react-datepicker__current-month {
    font-size: 1.5rem !important;
}

.react-datepicker__header {
    padding-top: 6px !important;
}

.react-datepicker__navigation {
    top: 13px !important;
}

.react-datepicker__day-name, .react-datepicker__day {
    margin: 0.5rem !important;
}
.react-datepicker__current-month {
    font-size: 1em;
}
.react-datepicker__navigation {
    top: 1em;
    line-height: 1.7em;
    border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
    border-right-color: #ccc;
    left: 1em;
}
.react-datepicker__navigation--next {
    border-left-color: #ccc;
    right: 1em;
}